
.component-status[data-v-023e8e6d]{box-sizing:border-box;padding:0;margin:0;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-weight:400;line-height:1;color:#001123;margin-bottom:16px;font-style:normal
}
@media (max-width: 1000px){
.component-status[data-v-023e8e6d]{overflow-x:auto
}
}
.component-status table[data-v-023e8e6d]{border-collapse:collapse;border-spacing:0;width:100%
}
.component-status thead th[data-v-023e8e6d]{padding:16px;background:#e9f3fd;font-size:13px;font-weight:700;color:#00264d;text-transform:uppercase;letter-spacing:1px;font-weight:600;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:left;position:-webkit-sticky;position:sticky;top:-1px
}
.component-status thead th[data-v-023e8e6d]:first-child{border-top-left-radius:3px;border-bottom-left-radius:3px
}
.component-status thead th[data-v-023e8e6d]:last-child{border-top-right-radius:3px;border-bottom-right-radius:3px
}
.component-status tr[data-v-023e8e6d]{border-bottom:1px solid #dfe3e6
}
.component-status tr[data-v-023e8e6d]:last-child{border:0
}
.component-status td[data-v-023e8e6d]{font-size:13px;padding:16px
}
.component-status td[data-v-023e8e6d]:first-child{font-weight:700;white-space:nowrap
}
.component-status .status-list[data-v-023e8e6d]{margin:0 0 16px;overflow:hidden;padding:0;list-style:none;flex-direction:row;align-items:center;display:flex
}
@media (max-width: 1000px){
.component-status .status-list[data-v-023e8e6d]{display:block
}
}
.component-status .status-list li[data-v-023e8e6d]{margin:0 24px 0 0;color:#7f8891;font-size:13px;align-items:center;display:flex
}
@media (max-width: 1000px){
.component-status .status-list li[data-v-023e8e6d]{width:50%;float:left;margin:0
}
}
.component-status .status-list li svg[data-v-023e8e6d],.component-status .status-list li span[data-v-023e8e6d]{margin:-2px calc(16px / 2) 0 0
}
@media (max-width: 1000px){
.component-status .status-list li p[data-v-023e8e6d]{margin:8px
}
}

.input[data-v-3a3fe0e5]{margin-bottom:16px;font-weight:400;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-size:16px;line-height:1;width:auto
}
.input[data-v-3a3fe0e5]:last-child{margin-bottom:0
}
.input.input-expand[data-v-3a3fe0e5]{width:100%
}
.input label[data-v-3a3fe0e5]{display:block;font-size:13px;color:#33414f;margin-bottom:8px
}
.input label[data-v-3a3fe0e5]:last-child{margin-bottom:0
}
.input input[data-v-3a3fe0e5]{box-sizing:border-box;padding:0;margin:0;padding:10px 16px;transition:all 0.2s ease;-webkit-appearance:none;-moz-appearance:none;appearance:none;font-family:"Fira Sans",Helvetica,Arial,sans-serif;background:#fff;border-radius:3px;color:#001123;margin:0;border:0;box-shadow:inset 0 1px 0 0 rgba(0,17,35,0.07),0 0 0 1px #cccfd3
}
.input input[data-v-3a3fe0e5]::-webkit-input-placeholder{-webkit-font-smoothing:antialiased;color:#bfc4c8
}
.input input[data-v-3a3fe0e5]:-ms-input-placeholder{color:#bfc4c8
}
.input input[data-v-3a3fe0e5]::-moz-placeholder{color:#bfc4c8;-moz-osx-font-smoothing:grayscale;opacity:1
}
.input input[data-v-3a3fe0e5]:hover,.input input[hover][data-v-3a3fe0e5]{box-shadow:0 1px 5px 0 rgba(0,17,35,0.07),0 0 0 1px #99a0a7
}
.input input[data-v-3a3fe0e5]:focus,.input input[focus][data-v-3a3fe0e5]{transition:box-shadow 0.2s ease;box-shadow:inset 0 0 0 1px #258aef,0 0 0 1px #258aef;outline:0
}
.input input[disabled][data-v-3a3fe0e5]{box-shadow:inset 0 1px 0 0 rgba(0,17,35,0.07),0 0 0 1px #cccfd3;background:#fff;cursor:not-allowed;opacity:0.5
}

.heading[data-v-2f75cb02]{box-sizing:border-box;padding:0;margin:0;margin-bottom:24px;font-family:"Fira Sans",Helvetica,Arial,sans-serif;line-height:1;color:#001123
}
.heading[data-v-2f75cb02]:last-child{margin-bottom:0
}
h1[data-v-2f75cb02]{letter-spacing:-1px;font-size:48px;font-weight:700
}
@media (min-width: 1024px){
h1[data-v-2f75cb02]{font-size:64px
}
}
h2[data-v-2f75cb02]{letter-spacing:-.5px;font-size:48px;font-weight:700
}
h3[data-v-2f75cb02]{font-size:36px;font-weight:700
}
h4[data-v-2f75cb02]{font-size:24px;font-weight:600
}
h5[data-v-2f75cb02]{font-size:16px;font-weight:400
}
h6[data-v-2f75cb02]{font-size:13px;font-weight:400
}

.text-style[data-v-0034dc7a]{box-sizing:border-box;padding:0;margin:0;margin-bottom:16px;color:#001123;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-weight:400;font-size:16px;line-height:1.6
}
.text-style[data-v-0034dc7a]:last-child{margin-bottom:0
}
.text-style.disabled[data-v-0034dc7a]{color:#808891;text-decoration:line-through
}
.text-style.strong[data-v-0034dc7a]{font-weight:600
}
.text-style.positive[data-v-0034dc7a]{color:#639113
}
.text-style.negative[data-v-0034dc7a]{color:#eb3b24
}

.wrapper[data-v-5832674a]{box-sizing:border-box;padding:0;margin:0;padding:48px;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-weight:400;font-size:16px;line-height:1.6;width:100%
}
@media (min-width: 1024px){
.wrapper[data-v-5832674a]{padding:64px
}
}

.nav[data-v-059ab1d3]{margin-bottom:24px;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-size:13px;line-height:1.6;color:#fff;text-align:center;width:100%
}
.nav[data-v-059ab1d3]:last-child{margin-bottom:0
}
.nav a[data-v-059ab1d3]{color:#258aef;padding:8px 0;margin:0 8px;text-decoration:none;display:inline-block
}
.nav a[data-v-059ab1d3]:hover{color:#258aef
}
.nav a.active[data-v-059ab1d3]{border-bottom:2px solid #258aef;font-weight:700;color:#258aef
}

.index[data-v-f7990d3a]{box-sizing:border-box;padding:0;margin:0;padding:24px;min-height:512px;background:#001123;background:linear-gradient(0deg, #001021, #0d1d2e 100%);text-align:center;position:relative;float:left;height:100%;width:100%
}
.index .heading[data-v-f7990d3a]{color:#fff
}
.index .text-style[data-v-f7990d3a]{color:#fff
}
.index .text-link[data-v-f7990d3a]{color:#258aef
}
.index .wrapper[data-v-f7990d3a]{max-width:576px;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);position:absolute;left:50%;top:50%
}
.index a[data-v-f7990d3a]{font-family:"Fira Sans",Helvetica,Arial,sans-serif;color:#258aef;text-decoration:underline
}

.not-found[data-v-5a8429f5]{box-sizing:border-box;padding:0;margin:0;padding:24px;min-height:512px;background:#001123;background:linear-gradient(0deg, #001021, #0d1d2e 100%);text-align:center;position:relative;float:left;height:100%;width:100%
}
.not-found .heading[data-v-5a8429f5]{color:#fff
}
.not-found .text-style[data-v-5a8429f5]{color:#fff
}
.not-found .text-link[data-v-5a8429f5]{color:#258aef
}
.not-found .wrapper[data-v-5a8429f5]{max-width:576px;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);position:absolute;left:50%;top:50%
}

.colors[data-v-688708ae]{display:grid;align-content:stretch;justify-content:left;grid-template-columns:calc(20% - 24px) calc(20% - 24px) calc(20% - 24px) calc(20% - 24px) calc(20% - 24px);grid-column-gap:24px;max-width:1200px;width:100%
}
@media (max-width: 1300px){
.colors[data-v-688708ae]{grid-template-columns:calc(25% - 24px) calc(25% - 24px) calc(25% - 24px) calc( 25% - 24px)
}
}
@media (max-width: 1100px){
.colors[data-v-688708ae]{grid-template-columns:calc(33.333% - 24px) calc(33.333% - 24px) calc(33.333% - 24px)
}
}
@media (max-width: 900px){
.colors[data-v-688708ae]{grid-template-columns:calc(50% - 24px) calc(50% - 24px)
}
}
@media (max-width: 400px){
.colors[data-v-688708ae]{grid-template-columns:100%
}
}
.swatch[data-v-688708ae]{border-bottom:1px solid rgba(0,0,0,0.08);height:128px;margin:-16px -16px 0;width:calc(100% + 48px);float:left
}
h3[data-v-688708ae]{margin-bottom:8px;text-transform:capitalize;line-height:1.2;width:100%;float:left
}
h3[data-v-688708ae]:last-child{margin-bottom:0
}
.color[data-v-688708ae]{box-sizing:border-box;padding:0;margin:0;padding:16px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin-bottom:48px;box-shadow:0 0 0 1px rgba(63,63,68,0.05),0 1px 3px 0 rgba(63,63,68,0.15);font-size:13px;font-family:"Fira Sans",Helvetica,Arial,sans-serif;color:#001123;border-radius:3px;overflow:hidden;text-align:left;float:left;width:100%
}
@media (max-width: 400px){
.color[data-v-688708ae]{margin-bottom:24px
}
}
.color:hover span[data-v-688708ae]{color:#4c5257
}
.color span[data-v-688708ae]{margin-bottom:8px;line-height:1.3;color:#7f8891;font-size:13px;width:100%;float:left
}

.font-sizes[data-v-f84d1e8c]{overflow:hidden;width:100%
}
.font[data-v-f84d1e8c]{box-sizing:border-box;padding:0;margin:0;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-weight:700;line-height:1;color:#001123;margin-bottom:16px;font-style:normal
}
.font span[data-v-f84d1e8c]{letter-spacing:-0.02em;margin-left:10px;font-weight:400;color:#7f8891
}

.spacing[data-v-3d09ef72]{overflow:hidden;max-width:1176px;width:100%
}
.space[data-v-3d09ef72]{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;border-radius:3px;box-shadow:inset 0 0 0 1px rgba(0,0,0,0.05);margin-bottom:8px;font-size:13px;font-family:"Fira Sans",Helvetica,Arial,sans-serif;color:#001123;background:#f6f8f9;text-align:center;position:relative;float:left;width:100%
}
.space span[data-v-3d09ef72]{margin-left:5px;color:#7f8891
}

.all-tokens[data-v-0b8f5824]{box-sizing:border-box;padding:0;margin:0;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-weight:400;line-height:1;color:#001123;margin-bottom:16px;font-style:normal
}
@media (max-width: 1000px){
.all-tokens[data-v-0b8f5824]{overflow-x:auto
}
}
.all-tokens table[data-v-0b8f5824]{border-collapse:collapse;border-spacing:0;width:100%
}
.all-tokens thead th[data-v-0b8f5824]{padding:16px 48px 16px 16px;background:#e9f3fd;font-size:13px;font-weight:700;color:#00264d;text-transform:uppercase;letter-spacing:1px;font-weight:600;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:left;position:-webkit-sticky;position:sticky;top:-1px
}
.all-tokens thead th[data-v-0b8f5824]:first-child{border-top-left-radius:3px;border-bottom-left-radius:3px
}
.all-tokens thead th[data-v-0b8f5824]:last-child{border-top-right-radius:3px;border-bottom-right-radius:3px
}
.all-tokens tr[data-v-0b8f5824]{border-bottom:1px solid #dfe3e6
}
.all-tokens tr[data-v-0b8f5824]:last-child{border:0
}
.all-tokens td[data-v-0b8f5824]{font-size:13px;padding:16px 48px 16px 16px
}
.all-tokens td[data-v-0b8f5824]:first-child{font-weight:700;white-space:nowrap
}
.all-tokens .type[data-v-0b8f5824]{line-height:1.6
}
.all-tokens .example[data-v-0b8f5824]{margin-right:8px;border-radius:3px;background:#fff;box-shadow:inset 0 0 0 1px rgba(0,0,0,0.05),inset 0 0 0 1px rgba(0,0,0,0.05),inset 0 0 0 1px rgba(0,0,0,0.05);vertical-align:middle;width:16px;height:16px;display:inline-block
}
.all-tokens .example[data-v-0b8f5824]:last-child{margin-right:0
}
