
.component-status[data-v-d6286012]{box-sizing:border-box;padding:0;margin:0;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-weight:400;line-height:1;color:#001123;margin-bottom:16px;font-style:normal
}
@media (max-width: 1000px){
.component-status[data-v-d6286012]{overflow-x:auto
}
}
.component-status table[data-v-d6286012]{border-collapse:collapse;border-spacing:0;width:100%
}
.component-status thead th[data-v-d6286012]{padding:16px 48px 16px 16px;background:#e9f3fd;font-size:13px;font-weight:700;color:#00264d;text-transform:uppercase;letter-spacing:1px;font-weight:600;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:left;position:-webkit-sticky;position:sticky;top:-1px
}
.component-status thead th[data-v-d6286012]:first-child{border-top-left-radius:3px;border-bottom-left-radius:3px
}
.component-status thead th[data-v-d6286012]:last-child{border-top-right-radius:3px;border-bottom-right-radius:3px
}
.component-status tr[data-v-d6286012]{border-bottom:1px solid #dfe3e6
}
.component-status tr[data-v-d6286012]:last-child{border:0
}
.component-status td[data-v-d6286012]{font-size:13px;padding:16px 48px 16px 16px
}
.component-status td[data-v-d6286012]:first-child{font-weight:700;white-space:nowrap
}
.component-status .status-list[data-v-d6286012]{margin:0 0 16px;padding:0;list-style:none;flex-direction:row;align-items:center;display:flex
}
@media (max-width: 1000px){
.component-status .status-list[data-v-d6286012]{flex-direction:column;align-items:flex-start
}
}
.component-status .status-list li[data-v-d6286012]{margin:0 24px 0 0;color:#7f8891;font-size:13px;align-items:center;display:flex
}
.component-status .status-list li svg[data-v-d6286012],.component-status .status-list li span[data-v-d6286012]{margin:-2px calc(16px / 2) 0 0
}

.input[data-v-6e9e9b4f]{margin-bottom:16px;font-weight:400;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-size:16px;line-height:1;width:auto
}
.input[data-v-6e9e9b4f]:last-child{margin-bottom:0
}
.input.input-expand[data-v-6e9e9b4f]{width:100%
}
.input label[data-v-6e9e9b4f]{display:block;font-size:13px;color:#33414f;margin-bottom:8px
}
.input label[data-v-6e9e9b4f]:last-child{margin-bottom:0
}
.input input[data-v-6e9e9b4f]{box-sizing:border-box;padding:0;margin:0;padding:10px 16px;transition:all 0.2s ease;-webkit-appearance:none;-moz-appearance:none;appearance:none;font-family:"Fira Sans",Helvetica,Arial,sans-serif;background:#fff;border-radius:3px;color:#001123;margin:0;border:0;box-shadow:inset 0 1px 0 0 rgba(0,17,35,0.07),0 0 0 1px #cccfd3
}
.input input[data-v-6e9e9b4f]::-webkit-input-placeholder{-webkit-font-smoothing:antialiased;color:#bfc4c8
}
.input input[data-v-6e9e9b4f]:-ms-input-placeholder{color:#bfc4c8
}
.input input[data-v-6e9e9b4f]::-moz-placeholder{color:#bfc4c8;-moz-osx-font-smoothing:grayscale;opacity:1
}
.input input[data-v-6e9e9b4f]:hover,.input input[hover][data-v-6e9e9b4f]{box-shadow:0 1px 5px 0 rgba(0,17,35,0.07),0 0 0 1px #99a0a7
}
.input input[data-v-6e9e9b4f]:focus,.input input[focus][data-v-6e9e9b4f]{transition:box-shadow 0.2s ease;box-shadow:inset 0 0 0 1px #258aef,0 0 0 1px #258aef;outline:0
}
.input input[disabled][data-v-6e9e9b4f]{box-shadow:inset 0 1px 0 0 rgba(0,17,35,0.07),0 0 0 1px #cccfd3;background:#fff;cursor:not-allowed;opacity:0.5
}

.heading[data-v-f15d0bc4]{box-sizing:border-box;padding:0;margin:0;margin-bottom:24px;font-family:"Fira Sans",Helvetica,Arial,sans-serif;line-height:1;color:#001123
}
.heading[data-v-f15d0bc4]:last-child{margin-bottom:0
}
h1[data-v-f15d0bc4]{letter-spacing:-1px;font-size:48px;font-weight:700
}
@media (min-width: 1024px){
h1[data-v-f15d0bc4]{font-size:64px
}
}
h2[data-v-f15d0bc4]{letter-spacing:-.5px;font-size:48px;font-weight:700
}
h3[data-v-f15d0bc4]{font-size:36px;font-weight:700
}
h4[data-v-f15d0bc4]{font-size:24px;font-weight:600
}
h5[data-v-f15d0bc4]{font-size:16px;font-weight:400
}
h6[data-v-f15d0bc4]{font-size:13px;font-weight:400
}

.text-style[data-v-6e9ba17c]{box-sizing:border-box;padding:0;margin:0;margin-bottom:16px;color:#001123;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-weight:400;font-size:16px;line-height:1.6
}
.text-style[data-v-6e9ba17c]:last-child{margin-bottom:0
}
.text-style.disabled[data-v-6e9ba17c]{color:#808891;text-decoration:line-through
}
.text-style.strong[data-v-6e9ba17c]{font-weight:600
}
.text-style.positive[data-v-6e9ba17c]{color:#639113
}
.text-style.negative[data-v-6e9ba17c]{color:#eb3b24
}

.wrapper[data-v-44b40dbe]{box-sizing:border-box;padding:0;margin:0;padding:48px;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-weight:400;font-size:16px;line-height:1.6;width:100%
}
@media (min-width: 1024px){
.wrapper[data-v-44b40dbe]{padding:64px
}
}

.nav[data-v-0776e04e]{margin-bottom:24px;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-size:13px;line-height:1.6;color:#fff;text-align:center;width:100%
}
.nav[data-v-0776e04e]:last-child{margin-bottom:0
}
.nav a[data-v-0776e04e]{color:#258aef;padding:8px 0;margin:0 8px;text-decoration:none;display:inline-block
}
.nav a[data-v-0776e04e]:hover{color:#258aef
}
.nav a.active[data-v-0776e04e]{border-bottom:2px solid #258aef;font-weight:700;color:#258aef
}

.index[data-v-5f26692f]{box-sizing:border-box;padding:0;margin:0;padding:24px;min-height:512px;background:#001123;background:linear-gradient(0deg, #001021, #0d1d2e 100%);text-align:center;position:relative;float:left;height:100%;width:100%
}
.index .heading[data-v-5f26692f]{color:#fff
}
.index .text-style[data-v-5f26692f]{color:#fff
}
.index .text-link[data-v-5f26692f]{color:#258aef
}
.index .wrapper[data-v-5f26692f]{max-width:576px;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);position:absolute;left:50%;top:50%
}
.index a[data-v-5f26692f]{font-family:"Fira Sans",Helvetica,Arial,sans-serif;color:#258aef;text-decoration:underline
}

.not-found[data-v-2431d2ae]{box-sizing:border-box;padding:0;margin:0;padding:24px;min-height:512px;background:#001123;background:linear-gradient(0deg, #001021, #0d1d2e 100%);text-align:center;position:relative;float:left;height:100%;width:100%
}
.not-found .heading[data-v-2431d2ae]{color:#fff
}
.not-found .text-style[data-v-2431d2ae]{color:#fff
}
.not-found .text-link[data-v-2431d2ae]{color:#258aef
}
.not-found .wrapper[data-v-2431d2ae]{max-width:576px;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);position:absolute;left:50%;top:50%
}

.colors[data-v-41e57de4]{display:grid;align-content:stretch;justify-content:left;grid-template-columns:calc(20% - 24px) calc(20% - 24px) calc(20% - 24px) calc(20% - 24px) calc(20% - 24px);grid-column-gap:24px;max-width:1200px;width:100%
}
@media (max-width: 1300px){
.colors[data-v-41e57de4]{grid-template-columns:calc(25% - 24px) calc(25% - 24px) calc(25% - 24px) calc( 25% - 24px)
}
}
@media (max-width: 1100px){
.colors[data-v-41e57de4]{grid-template-columns:calc(33.333% - 24px) calc(33.333% - 24px) calc(33.333% - 24px)
}
}
@media (max-width: 900px){
.colors[data-v-41e57de4]{grid-template-columns:calc(50% - 24px) calc(50% - 24px)
}
}
@media (max-width: 400px){
.colors[data-v-41e57de4]{grid-template-columns:100%
}
}
.swatch[data-v-41e57de4]{border-bottom:1px solid rgba(0,0,0,0.08);height:128px;margin:-16px -16px 0;width:calc(100% + 48px);float:left
}
h3[data-v-41e57de4]{margin-bottom:8px;text-transform:capitalize;line-height:1.2;width:100%;float:left
}
h3[data-v-41e57de4]:last-child{margin-bottom:0
}
.color[data-v-41e57de4]{box-sizing:border-box;padding:0;margin:0;padding:16px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin-bottom:48px;box-shadow:0 0 0 1px rgba(63,63,68,0.05),0 1px 3px 0 rgba(63,63,68,0.15);font-size:13px;font-family:"Fira Sans",Helvetica,Arial,sans-serif;color:#001123;border-radius:3px;overflow:hidden;text-align:left;float:left;width:100%
}
.color:hover span[data-v-41e57de4]{color:#4c5257
}
.color span[data-v-41e57de4]{margin-bottom:8px;line-height:1.3;color:#7f8891;font-size:13px;width:100%;float:left
}

.font-sizes[data-v-5537cc6c]{overflow:hidden;width:100%
}
.font[data-v-5537cc6c]{box-sizing:border-box;padding:0;margin:0;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-weight:700;line-height:1;color:#001123;margin-bottom:16px;font-style:normal
}
.font span[data-v-5537cc6c]{letter-spacing:-0.02em;margin-left:10px;font-weight:400;color:#7f8891
}

.spacing[data-v-626513ae]{overflow:hidden;max-width:1176px;width:100%
}
.space[data-v-626513ae]{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;border-radius:3px;box-shadow:inset 0 0 0 1px rgba(0,0,0,0.05);margin-bottom:8px;font-size:13px;font-family:"Fira Sans",Helvetica,Arial,sans-serif;color:#001123;background:#f6f8f9;text-align:center;position:relative;float:left;width:100%
}
.space span[data-v-626513ae]{margin-left:5px;color:#7f8891
}

.all-tokens[data-v-7bda6788]{box-sizing:border-box;padding:0;margin:0;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-weight:400;line-height:1;color:#001123;margin-bottom:16px;font-style:normal
}
@media (max-width: 1000px){
.all-tokens[data-v-7bda6788]{overflow-x:auto
}
}
.all-tokens table[data-v-7bda6788]{border-collapse:collapse;border-spacing:0;width:100%
}
.all-tokens thead th[data-v-7bda6788]{padding:16px 48px 16px 16px;background:#e9f3fd;font-size:13px;font-weight:700;color:#00264d;text-transform:uppercase;letter-spacing:1px;font-weight:600;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:left;position:-webkit-sticky;position:sticky;top:-1px
}
.all-tokens thead th[data-v-7bda6788]:first-child{border-top-left-radius:3px;border-bottom-left-radius:3px
}
.all-tokens thead th[data-v-7bda6788]:last-child{border-top-right-radius:3px;border-bottom-right-radius:3px
}
.all-tokens tr[data-v-7bda6788]{border-bottom:1px solid #dfe3e6
}
.all-tokens tr[data-v-7bda6788]:last-child{border:0
}
.all-tokens td[data-v-7bda6788]{font-size:13px;padding:16px 48px 16px 16px
}
.all-tokens td[data-v-7bda6788]:first-child{font-weight:700;white-space:nowrap
}
.all-tokens .type[data-v-7bda6788]{line-height:1.6
}
.all-tokens .example[data-v-7bda6788]{margin-right:8px;border-radius:3px;background:#fff;box-shadow:inset 0 0 0 1px rgba(0,0,0,0.05),inset 0 0 0 1px rgba(0,0,0,0.05),inset 0 0 0 1px rgba(0,0,0,0.05);vertical-align:middle;width:16px;height:16px;display:inline-block
}
.all-tokens .example[data-v-7bda6788]:last-child{margin-right:0
}
