
.colors{overflow:hidden;width:100%
}
.color{font-size:13px;font-family:"Fira Sans",Helvetica,Arial,sans-serif;color:#fff;height:48px;line-height:48px;text-align:center;float:left;width:100%
}
.color span{margin-left:10px;font-style:italic;opacity:0.5
}

.font-sizes[data-v-54b96d98]{overflow:hidden;width:100%
}
.font[data-v-54b96d98]{box-sizing:border-box;padding:0;margin:0;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-weight:700;line-height:1;color:#001123;margin-bottom:16px;font-style:normal
}
.font span[data-v-54b96d98]{margin-left:10px;font-style:italic;opacity:0.5
}

.spacing[data-v-8229165a]{overflow:hidden;width:100%
}
.space[data-v-8229165a]{box-shadow:inset 0 0 0 1px rgba(0,0,0,0.05);margin-bottom:8px;font-size:11px;font-family:"Fira Sans",Helvetica,Arial,sans-serif;color:#001123;background:#f4f6f8;text-align:center;position:relative;float:left;width:100%
}
.space span[data-v-8229165a]{margin-left:5px;font-style:italic;opacity:0.5
}

.heading[data-v-75fb9d4f]{box-sizing:border-box;padding:0;margin:0;font-family:"Fira Sans",Helvetica,Arial,sans-serif;line-height:1;color:#001123;margin-bottom:24px
}
.heading[data-v-75fb9d4f]:last-child{margin-bottom:0
}
h1[data-v-75fb9d4f]{letter-spacing:-1px;font-size:48px;font-weight:700
}
@media (min-width: 1024px){
h1[data-v-75fb9d4f]{font-size:64px
}
}
h2[data-v-75fb9d4f]{letter-spacing:-.5px;font-size:48px;font-weight:700
}
h3[data-v-75fb9d4f]{font-size:24px;font-weight:700
}
h4[data-v-75fb9d4f]{font-size:16px;font-weight:600
}
h5[data-v-75fb9d4f]{font-size:13px;font-weight:400
}
h6[data-v-75fb9d4f]{font-size:11px;font-weight:400
}

.text-link[data-v-2d980967]{box-sizing:border-box;padding:0;margin:0;font-family:"Fira Sans",Helvetica,Arial,sans-serif;color:#eb3b24;text-decoration:underline
}

.text-style[data-v-5a758648]{box-sizing:border-box;padding:0;margin:0;color:#001123;font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-weight:400;font-size:16px;line-height:1.6;margin-bottom:16px
}
.text-style[data-v-5a758648]:last-child{margin-bottom:0
}
.text-style.disabled[data-v-5a758648]{color:#808891
}
.text-style.strong[data-v-5a758648]{font-weight:600
}
.text-style.positive[data-v-5a758648]{color:#134578;font-style:italic
}
.text-style.negative[data-v-5a758648]{color:#eb3b24;font-style:italic
}

.wrapper[data-v-1c61151e]{box-sizing:border-box;padding:0;margin:0;padding:48px;width:100%
}
@media (min-width: 1024px){
.wrapper[data-v-1c61151e]{padding:48px
}
}

.nav[data-v-4b8b3a50]{font-family:"Fira Sans",Helvetica,Arial,sans-serif;font-size:13px;line-height:1.6;color:#fff;margin:24px 0;text-align:center;width:100%
}
.nav a[data-v-4b8b3a50]{color:#258aef;padding:8px 0;margin:0 8px;text-decoration:none;display:inline-block
}
.nav a[data-v-4b8b3a50]:hover{color:#258aef
}
.nav a.active[data-v-4b8b3a50]{border-bottom:2px solid #258aef;font-weight:700;color:#258aef
}

.index[data-v-1fdf38fa]{min-height:512px;background:#001123;background:linear-gradient(0deg, #001021, #0d1d2e 100%);text-align:center;position:relative;float:left;height:100%;width:100%
}
.index .heading[data-v-1fdf38fa]{color:#fff
}
.index .text-style[data-v-1fdf38fa]{color:#fff
}
.index .text-link[data-v-1fdf38fa]{color:#258aef
}
.index .wrapper[data-v-1fdf38fa]{max-width:576px;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);position:absolute;left:50%;top:50%
}

.not-found[data-v-7ec22f12]{min-height:512px;background:#001123;background:linear-gradient(0deg, #001021, #0d1d2e 100%);text-align:center;position:relative;float:left;height:100%;width:100%
}
.not-found .heading[data-v-7ec22f12]{color:#fff
}
.not-found .text-style[data-v-7ec22f12]{color:#fff
}
.not-found .text-link[data-v-7ec22f12]{color:#258aef
}
.not-found .wrapper[data-v-7ec22f12]{max-width:576px;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);position:absolute;left:50%;top:50%
}
