/* GLOBAL: INCLUDES
 *
 * It is recommended to only include variables,
 * mixins, etc. in this file, to prevent duplicated
 * CSS in your final, compiled files.
 *
--------------------------------------------- */

@import "../styles/functions";
@import "../styles/mixins";
@import "../styles/spacing";
