
$color-primary-vermilion: rgb(237, 75, 55);
$color-primary-ucla-gold: rgb(255, 187, 8);
$color-primary-bleu-de-france: rgb(35, 137, 238);
$color-primary-rich-black: rgb(0, 17, 35);
$color-primary-oxford-blue: rgb(0, 38, 76);
$color-primary-white: rgb(255, 255, 255);
$font-size-xx-large: 64px;
$font-size-x-large: 48px;
$font-size-large: 24px;
$font-size-base: 16px;
$font-size-small: 13px;
$font-size-tiny: 11px;
$font-family-heading: 'Fira Sans', Helvetica, Arial, sans-serif;
$font-family-text: 'Fira Sans', Helvetica, Arial, sans-serif;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-regular: 400;
$opacity-disabled: 0.5;
$height-footer: 64px;
$tappable-square: 44px;
$duration-quickly: 0.08s;
$duration-slowly: 0.5s;
$z-index-modal: 9999;
$z-index-sticky: 100;
$media-query-medium: (min-width: 768px);
$media-query-large: (min-width: 1024px);
$box-shadow-tiny: 0 0 0 1px rgba(92,106,196,.1);
$box-shadow-tiny-inset: inset 0 0 0 1px rgba(92,106,196,.1);
$letter-spacing-x-large: 2px;
$letter-spacing-large: 1px;
$letter-spacing-base: 0;
$letter-spacing-small: -0.5px;
$letter-spacing-tiny: -1px;
$border-radius-default: 3px;
$border-radius-circle: 50%;
$space-xx-large: 128px;
$space-x-large: 64px;
$space-large: 48px;
$space-base: 24px;
$space-small: 16px;
$space-tiny: 8px;
$line-height-base: 1.6;
$line-height-heading: 1;
