$color-ucla-gold: rgb(255, 186, 10);
$color-ucla-gold-darker: rgb(179, 128, 0);
$color-vermilion-lighter: rgb(244, 151, 138);
$color-vermilion-darker: rgb(154, 31, 14);
$color-ucla-gold-lighter: rgb(255, 219, 128);
$color-bleu-de-france-dark: rgb(16, 112, 209);
$color-bleu-de-france-light: rgb(84, 163, 242);
$color-silver: rgb(127, 136, 145);
$color-white: rgb(255, 255, 255);
$color-bleu-de-france: rgb(37, 138, 239);
$color-bleu-de-france-darker: rgb(12, 87, 161);
$color-bleu-de-france-lighter: rgb(132, 189, 246);
$color-ucla-gold-dark: rgb(230, 164, 0);
$color-vermilion-light: rgb(239, 101, 82);
$color-vermilion-dark: rgb(201, 40, 19);
$color-ucla-gold-light: rgb(255, 204, 77);
$color-rich-black: rgb(0, 17, 35);
$color-cloud: rgb(233, 243, 253);
$color-oxford-blue: rgb(0, 38, 77);
$color-vermilion: rgb(235, 59, 36);
$font-size-xxx-large: 64px;
$font-size-xx-large: 48px;
$font-size-x-large: 36px;
$font-size-large: 24px;
$font-size-base: 16px;
$font-size-small: 13px;
$font-size-x-small: 11px;
$font-family-heading: "Fira Sans", Helvetica, Arial, sans-serif;
$font-family-text: "Fira Sans", Helvetica, Arial, sans-serif;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-regular: 400;
$font-weight-light: 300;
$opacity-disabled: 0.5;
$height-footer: 64px;
$tappable-square: 44px;
$duration-quickly: 0.08s;
$duration-slowly: 0.5s;
$z-index-modal: 9999;
$z-index-sticky: 100;
$media-query-medium: (min-width: 768px);
$media-query-large: (min-width: 1024px);
$box-shadow-small: 0 0 0 1px rgba(92, 106, 196, 0.1);
$box-shadow-small-inset: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
$letter-spacing-x-large: 2px;
$letter-spacing-large: 1px;
$letter-spacing-base: 0;
$letter-spacing-small: -0.5px;
$letter-spacing-x-small: -1px;
$border-radius-default: 3px;
$border-radius-circle: 50%;
$space-xx-large: 128px;
$space-x-large: 64px;
$space-large: 48px;
$space-base: 24px;
$space-small: 16px;
$space-x-small: 8px;
$space-xx-small: 4px;
$line-height-base: 1.6;
$line-height-small: 1.3;
$line-height-heading: 1;
