
/* COLOR TOKENS
--------------------------------------------- */

$color: (
  primary-vermilion       : #ed4b37,
  primary-ucla-gold       : #ffbb08,
  primary-bleu-de-france  : #2389ee,
  primary-rich-black      : #001123,
  primary-oxford-blue     : #00264c,
  primary-white           : #fff
);
