
/* SPACE TOKENS
--------------------------------------------- */

$spacing: (
  xx-large  : 128px,
  x-large   : 64px,
  large     : 48px,
  base      : 24px,
  small     : 16px,
  tiny      : 8px
);
