/**
 * These are style overrides for Vue Styleguidist
 * (the odd formatting hence most of the ID’s are dynamic)
 */

@import "../src/assets/tokens/tokens.scss";
@import "./docs.tokens.scss";
@import "../src/styles/styles.scss";

/* LOCAL DESIGN TOKENS
--------------------------------------------- */

$docs-grey: #c4cdd5;
$docs-grey-dark: #4d5865;
$docs-status-ready: #7cb518;
$docs-breakpoint: 800px;
$docs-breakpoint-small: 600px;
$docs-color-heading: rgb(30, 30, 30);
$docs-color-text: shade($color-silver, 50%);

/* BASE
--------------------------------------------- */

::-moz-selection {
  background: $color-bleu-de-france;
  color: $color-white;
}
::selection {
  background: $color-bleu-de-france;
  color: $color-white;
}

div.rsg--root-1 {
  background: $color-white;
}

div[class^="rsg--root"] {
  a[class^="rsg--link"] {
    color: $color-bleu-de-france;
    &:hover {
      color: $color-bleu-de-france-dark;
    }
  }
}

main[class^="rsg--content"] {
  padding: $space-small $space-x-large;
  @media (max-width: #{$docs-breakpoint}) {
    padding: $space-small $space-base;
  }
}

header[class^="rsg--header"] > div[class^="rsg--wrapper"],
section > div[class^="rsg--wrapper"] + article[class^="rsg--root"],
article[class^="rsg--root"] div[class^="rsg--root"] {
  margin: 0 !important;
}

main section section > div > div[class^="rsg--root"] {
  display: flex;
  flex-direction: column;
}

/* TYPOGRAPHY
--------------------------------------------- */

// Main headings
div[class^="rsg--wrapper"] > h1[class^="rsg--heading"] {
  display: block;
  width: 100%;
  padding: $space-x-large $space-x-large;
  width: calc(100% + #{$space-x-large * 2});
  margin: -#{$space-small} -#{$space-x-large} $space-large -#{$space-x-large};
  background: $color-cloud;
  font-size: $font-size-xx-large;
  @media (max-width: 1300px) {
    padding: $space-large $space-x-large;
  }
  @media (max-width: #{$docs-breakpoint}) {
    font-size: $font-size-x-large / 1.2;
    width: calc(100% + #{$space-x-large});
    padding: $space-large $space-base;
    margin: -#{$space-small} -#{$space-base} $space-base;
  }
}
header[class^="rsg--header"] {
  margin: 0;
}
div[class^="rsg--wrapper"] > h1[class^="rsg--heading"] a {
  font-weight: $font-weight-regular;
  color: $color-oxford-blue;
  letter-spacing: -1px;
  &:hover {
    text-decoration: none;
    cursor: default;
  }
}

// Heading, level 2
h2[class^="rsg--heading"] {
  border-bottom: 1px solid $docs-grey;
  padding-bottom: $space-small;
  margin: $space-large 0 $space-base;
  width: 100%;
  &,
  a {
    font-weight: $font-weight-regular;
    letter-spacing: -0.5px;
    font-size: $font-size-x-large;
    line-height: $line-height-small;
    color: $docs-color-heading;
    @media (max-width: #{$docs-breakpoint}) {
      font-size: $font-size-x-large / 1.3;
    }
    @media (max-width: #{$docs-breakpoint-small}) {
      font-size: $font-size-x-large / 1.6;
    }
  }
}

// Heading, level 3
h3[class^="rsg--heading"],
h3[class^="rsg--heading"] a {
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: $font-weight-light;
  line-height: $line-height-base;
  margin: 0 0 $space-large;
  font-size: $font-size-large;
  color: $docs-color-text;
  @media (max-width: #{$docs-breakpoint}) {
    font-size: $font-size-large / 1.2;
    margin: 0 0 $space-base;
  }
}

// Heading, level 4
h4[class^="rsg--heading"],
h4[class^="rsg--heading"] a {
  font-weight: $font-weight-semi-bold;
  letter-spacing: 0;
  margin: $space-large 0 $space-base;
  font-size: $font-size-large;
  line-height: $line-height-small;
  color: $docs-color-heading;
}

// Paragraphs
p[class^="rsg--para"] {
  color: $docs-color-text;
  margin-bottom: $space-small;
  line-height: $line-height-base;
  strong a[class^="rsg--link"] {
    font-weight: $font-weight-semi-bold;
  }
  a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

div[class^="rsg--docs"],
p[class^="rsg--para"],
h3[class^="rsg--heading"],
h4[class^="rsg--heading"] {
  max-width: 800px;
  width: 75%;
  p[class^="rsg--para"] {
    width: 100%;
  }
  @media (max-width: 1300px) {
    width: 100%;
  }
}

td[class^="rsg--cell"] p {
  width: 100%;
}

pre + p[class^="rsg--para"] {
  margin-top: $space-small;
}

p[class^="rsg--para"] code {
  background: tint($docs-grey, 75%);
  color: shade($color-silver, 20%);
  padding: $space-xx-small;
  border-radius: $border-radius-default;
  font-size: 87.5%;
}

/* SIDEBAR
--------------------------------------------- */

div[class^="rsg--sidebar"] {
  background: mix($color-bleu-de-france, $color-rich-black, 5%);
  border: 0;
  a[class^="rsg--link"] {
    color: $color-bleu-de-france;
    &:hover {
      color: $color-bleu-de-france-lighter;
    }
    &:active {
      color: $color-bleu-de-france-dark;
    }
  }
  .vueds-active {
    ul[class^="rsg--list"] {
      display: block;
    }
    & > a,
    & > a:hover {
      color: tint($color-bleu-de-france, 80%);
    }
  }
  ul[class^="rsg--list"] {
    padding-left: 0;
    ul {
      padding-left: $space-small;
      @media (max-width: #{$docs-breakpoint-small}) {
        padding: 0 0 0 $space-large;
        width: 90%;
        li {
          display: inline;
          line-height: $line-height-base;
        }
      }
      // Second level links
      a[class*="rsg--link"] {
        font-size: $font-size-small;
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
        @media (max-width: #{$docs-breakpoint-small}) {
          float: left;
          padding: 0 $space-x-small 0 0;
        }
      }
    }
  }
  li[class^="rsg--item"] {
    margin: 0;
    a[class^="rsg--link"] {
      display: block;
      padding: $space-xx-small 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    // First level links
    a[class*="rsg--link"] {
      padding: $space-xx-small $space-base;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

// Sidebar logo
div[class^="rsg--logo"] {
  @include inset-squish-space($space-base);
  border-bottom: 1px solid rgba($color-white, 0.1);
  h1 {
    color: $color-white;
    color: tint($color-bleu-de-france, 90%);
    font-weight: $font-weight-regular;
  }
}

// Sidebar search
div[class^="rsg--search"] input {
  @include inset-squish-space($space-small);
  color: $color-white;
  border: 1px solid transparent;
  background: mix($color-bleu-de-france, $color-rich-black, 20%);
  &:focus {
    border: 1px solid $color-bleu-de-france;
    &::-webkit-textfield-decoration-container {
      display: none !important;
    }
    &::-webkit-contacts-auto-fill-button {
      display: none !important;
    }
  }
  &::-webkit-input-placeholder {
    color: rgba(mix($color-white, $color-bleu-de-france, 50%), 0.35);
  }
  &:-ms-input-placeholder {
    color: rgba(mix($color-white, $color-bleu-de-france, 50%), 0.35);
  }
  &::-moz-placeholder {
    color: rgba(mix($color-white, $color-bleu-de-france, 50%), 0.35);
    opacity: 1;
  }
}

// Sidebar 1st level section links
ul[class^="rsg--list"] a[class*=" rsg--heading"],
div[class^="rsg--root"] > ul[class^="rsg--list"] > li > a {
  font-weight: $font-weight-semi-bold;
}

/* CODE PREVIEWS
--------------------------------------------- */

pre[class^="rsg--pre"],
div[class^="rsg--preview"] {
  padding: $space-base;
  background-color: tint($docs-grey, 90%);
  border: 1px solid tint($docs-grey, 50%);
  box-shadow: inset 0 0 $space-x-small rgba($color-rich-black, 0.05);
  margin: $space-small 0 0;
  border-radius: 0;
  display: block;
  width: 100%;
  border-top-left-radius: $border-radius-default;
  border-top-right-radius: $border-radius-default;
}

div[class^="rsg--preview"] {
  float: left;
}

#Color-container,
#FontSize-container,
#Spacing-container,
#Components-container,
#All-container {
  div[data-preview] {
    background: transparent;
    box-shadow: none;
    padding: 0;
    border: 0;
  }
}

// Code tabs and table
div[class^="rsg--tabs"],
table[class^="rsg--table"] {
  margin-bottom: $space-small;
  overflow-x: auto;
}
thead[class^="rsg--tableHead"] {
  border: 0;
}
div[class^="rsg--toolbar"] {
  margin-top: $space-x-small;
}

// Codemirror
.react-codemirror2 .CodeMirror.CodeMirror {
  background: mix($color-bleu-de-france, $color-rich-black, 10%);
  border-bottom-left-radius: $border-radius-default;
  border-bottom-right-radius: $border-radius-default;
  margin-bottom: $space-base;
  padding: $space-base;
}

.CodeMirror-scroll.CodeMirror-scroll {
  overflow: hidden !important;
}

.cm-s-night span.cm-variable-2,
.cm-s-night span.cm-bracket,
.cm-s-night span.cm-tag {
  color: $color-bleu-de-france-light !important;
}
.cm-s-night span.cm-number,
.cm-s-night span.cm-attribute {
  color: $color-ucla-gold-light !important;
}
.cm-s-night span.cm-string {
  color: lighten($docs-status-ready, 20%) !important;
}

span[class^="rsg--type"],
code[class^="rsg--code"] {
  color: $color-silver;
}
span[class^="rsg--name"] code[class^="rsg--code"],
code.name {
  font-weight: $font-weight-bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: shade($color-silver, 50%);
}
span[class^="rsg--type"] code[class^="rsg--code"],
code.type {
  background: tint($docs-grey, 75%);
  color: shade($color-silver, 20%);
  padding: $space-xx-small;
  border-radius: $border-radius-default;
}

/* COMPONENT STATUS LABELS
--------------------------------------------- */

div[class^="rsg--docs"],
header[class^="rsg--header"],
article[class^="rsg--root"] {
  order: 2;
}

div[class^="rsg--root"] div[class^="rsg--tabs"] {
  order: 3;
}

.status {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-weight: $font-weight-regular;
  order: 1;
  align-self: flex-end;
  cursor: help;
  transform: translateY($space-x-large * 1.35);
  line-height: $line-height-heading;
  background: tint($docs-grey, 50%);
  padding: $space-x-small $space-small $space-x-small/1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: $font-size-x-small;
  border-radius: $border-radius-default;
  color: $color-rich-black;
  @media (max-width: #{$docs-breakpoint}) {
    transform: translateY($space-x-large * 1.25);
  }
  &-ready {
    background: $docs-status-ready;
    color: $color-white;
  }
  &-review,
  &-under-review {
    background: $color-ucla-gold;
    color: $color-rich-black;
  }
  &-prototype {
    background: $color-bleu-de-france;
    color: $color-white;
  }
  &-deprecated {
    background: $color-vermilion;
    color: $color-white;
  }
}

/* TABLES
--------------------------------------------- */

tr {
  transition: background-color 0.1s ease;
  &:hover {
    background: rgba($color-cloud, 0.3);
  }
}

table[class^="rsg--table"] {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  width: 100%;
  th {
    padding: $space-small $space-large $space-small $space-small;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: $font-weight-semi-bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 0;
    background: $color-cloud;
    color: tint($color-oxford-blue, 10%);
    text-align: left;
  }
  th[class^="rsg--cellHeading"],
  td {
    padding: $space-small $space-large $space-small $space-small;
    background: transparent;
  }
  td {
    font-size: $font-size-small;
    padding: $space-small $space-large $space-small $space-small;
    &:first-child {
      font-weight: $font-weight-bold;
      white-space: nowrap;
    }
  }
  tr {
    border-bottom: 1px solid tint($docs-grey, 50%);
  }
  tbody tr:last-child {
    border-bottom: 0;
  }
}

thead[class^="rsg--thead"] {
  th:first-child {
    border-top-left-radius: $border-radius-default;
    border-bottom-left-radius: $border-radius-default;
  }
  th:last-child {
    border-top-right-radius: $border-radius-default;
    border-bottom-right-radius: $border-radius-default;
  }
}

/* HIDDEN STYLEGUIDIST FUNCTIONALITY
--------------------------------------------- */

div[class^="rsg--tabButtons"],
div[class^="rsg--controls"],
div[class^="rsg--pathline"],
footer[class^="rsg--footer"] {
  display: none !important;
}

#vue-design-system + div[class^="rsg--toolbar"],
#principles + div[class^="rsg--toolbar"],
#content + div[class^="rsg--toolbar"],
#overview + div[class^="rsg--toolbar"],
#components + div[class^="rsg--toolbar"],
#tokens + div[class^="rsg--toolbar"],
#color + div[class^="rsg--toolbar"],
#fontsize + div[class^="rsg--toolbar"],
#spacing + div[class^="rsg--toolbar"],
#elements + div[class^="rsg--toolbar"],
#patterns + div[class^="rsg--toolbar"],
#templates + div[class^="rsg--toolbar"],
#Components-container div[class^="rsg--tabs"],
#Components-container .react-codemirror2,
#Spacing-container div[class^="rsg--tabs"],
#Spacing-container .react-codemirror2,
#FontSize-container div[class^="rsg--tabs"],
#FontSize-container .react-codemirror2,
#Color-container div[class^="rsg--tabs"],
#Color-container .react-codemirror2,
#All-container div[class^="rsg--tabs"],
#All-container .react-codemirror2,
#VuedsSection-container {
  display: none !important;
}

/* HIDDEN VUE DESIGN SYSTEM FUNCTIONALITY
--------------------------------------------- */

// Hide status labels from tokens as they don’t make much sense
#Color-container,
#Components-container,
#FontSize-container,
#Spacing-container,
#All-container {
  .status {
    display: none !important;
  }
}

// Hide private components
.hide-private,
.hide-private + div,
a[href="#private-components"],
a[href="#private-components"] + ul {
  display: none !important;
}

// Hide Private components and placeholder sections
ul a[href*="?id=section"],
ul a[href*="?id=components"],
ul a[href*="/#!/Private Components"] {
  display: none !important;
}
